
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/vestack/index.html">Vestack Provider</a>
                </li>
                
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/server_group_servers.html">server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/clb_zones.html">clb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">DIRECT_CONNECT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/direct_connect_bgp_peers.html">direct_connect_bgp_peers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/direct_connect_connections.html">direct_connect_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/direct_connect_gateways.html">direct_connect_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/direct_connect_gateway_routes.html">direct_connect_gateway_routes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/direct_connect_virtual_interfaces.html">direct_connect_virtual_interfaces</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/direct_connect_bgp_peer.html">direct_connect_bgp_peer</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/direct_connect_connection.html">direct_connect_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/direct_connect_gateway.html">direct_connect_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/direct_connect_gateway_route.html">direct_connect_gateway_route</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/direct_connect_virtual_interface.html">direct_connect_virtual_interface</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_commands.html">ecs_commands</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_invocations.html">ecs_invocations</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_invocation_results.html">ecs_invocation_results</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_command.html">ecs_command</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_invocation.html">ecs_invocation</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">IAM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/iam_policies.html">iam_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/iam_roles.html">iam_roles</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/iam_users.html">iam_users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_access_key.html">iam_access_key</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_login_profile.html">iam_login_profile</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_policy.html">iam_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_role.html">iam_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_role_policy_attachment.html">iam_role_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_service_linked_role.html">iam_service_linked_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_user.html">iam_user</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/iam_user_policy_attachment.html">iam_user_policy_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TOS(BETA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/tos_buckets.html">tos_buckets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/tos_objects.html">tos_objects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/tos_bucket.html">tos_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/tos_bucket_policy.html">tos_bucket_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/tos_object.html">tos_object</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VKE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_addons.html">vke_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_clusters.html">vke_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_kubeconfigs.html">vke_kubeconfigs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_nodes.html">vke_nodes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_node_pools.html">vke_node_pools</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vke_support_addons.html">vke_support_addons</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_addon.html">vke_addon</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_cluster.html">vke_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_default_node_pool.html">vke_default_node_pool</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_default_node_pool_batch_attach.html">vke_default_node_pool_batch_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_kubeconfig.html">vke_kubeconfig</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_node.html">vke_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vke_node_pool.html">vke_node_pool</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/vpc_ipv6_addresses.html">vpc_ipv6_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vpc_ipv6_address_bandwidths.html">vpc_ipv6_address_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vpc_ipv6_gateways.html">vpc_ipv6_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/network_acls.html">network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/security_group_rules.html">security_group_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/vpc_ipv6_address_bandwidth.html">vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vpc_ipv6_gateway.html">vpc_ipv6_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/network_acl.html">network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/network_acl_associate.html">network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
